@import "tailwindcss";

@plugin "tailwindcss-animate";

/* :root {
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 220 13% 91%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 222 89% 55%;
  --primary-foreground: 0 0% 100%;

  --secondary: 220 13% 91%;
  --secondary-foreground: 222 47% 11%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;

  --muted: 220 13% 91%;
  --muted-foreground: 222 15% 30%;

  --accent: 222 89% 55%;
  --accent-foreground: 0 0% 100%;

  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;

  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;

  --radius: 0.5rem;
} */


/* Center Container */
.container {
  @apply mx-auto px-8 max-w-screen-2xl;
}

/* Border Radius */
.rounded-lg {
  border-radius: var(--radius);
}
.rounded-md {
  border-radius: calc(var(--radius) - 2px);
}
.rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

/* Accordion Animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}
